{
    email alichowdhury01@gmail.com
}


www.alichowdhury.ca {
  
    reverse_proxy nextjs-app:3000
    header / {
        Access-Control-Allow-Origin "https://www.alichowdhury.ca"
        Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Allow-Credentials true
    }
}
